{% extends 'base.html' %} {% block carousel %} {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">Tattoos</h1>
                <p class="lead">Ingresa el registro del tattoo con la imagen, categoria y el precio correspondiente.</p>
                <hr class="my-4">
                <p>Trata de describir detalladamente para una mejor presentacion.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %} {{form.as_p}}
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}