{% extends 'base.html' %} {% block carousel %} {% endblock %} {% block content %}
<div class="album py-5">
    <div class="container">
        <div class="row">
            {% if object_list %} {% for tattoo in object_list %}
            <div class="col-md-4">
                <center>
                    <h4 class="text-white">{{ tattoo.categoria.nombre}}</h4>
                </center>
                <div class="card mb-4 box-shadow bg-card">
                    {% if tattoo.imagen %}
                    <img class="card-img-top" src="{{tattoo.imagen.url}}" width="348" height="348" alt="Tattoo"> {% else %}
                    <h4>No hay ninguna imagen</h4>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{tattoo.descripcion}} <br> <b>Precio</b>: ${{tattoo.precio}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'comment_tattoo' tattoo.id %}" class="card-link">Comentar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <h1>No hay registros de Tattoos</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}